:root {
  --main-font-family: "Roboto", "Arial", sans-serif;
  --main-font-weight: 400;
  --main-font-size: 16px;
  --main-line-height: 24px;
  --main-color: #000;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  color: var(--main-color);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

img {
  display: block;
  height: auto;
}

.container {
  width: 1340px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.site-main {
  flex-grow: 1;
}

/* Header */
.site-header {
  background-image: url("../images/hero-bg.jpg");
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}

.logo-img {
  width: 235px;
  height: 24px;
}

.sitenav-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sitenav-item {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.sitenav-item:not(:last-child) {
  margin-right: 40px;
}

.sitenav-item-link {
  display: inline-block;
  color: #333333;
  text-decoration: none;
}

/* Hero */
.hero {
  background-image: url("../images/hero-bg.jpg");
}

.hero-inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.hero-info {
  margin-top: 116px;
  margin-left: 100px;
  width: 464px;
}

.hero-info-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
}

.hero-info-text {
  margin-top: 0;
  margin-bottom: 34px;
}

.create-btn {
  display: inline-block;
  padding: 16px 24px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 1px;
  font-variant: small-caps;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #0a775f;
  border-radius: 100px;
}

.hero-img-wrapper {
  position: relative;
}

.hero-img-wrapper::before {
  position: absolute;
  top: -85px;
  left: -45px;
  z-index: 5;
  width: 214px;
  height: 214px;
  content: "";
  background-image: url("../images/alfred.png");
}

.hero-img {
  position: relative;
  left: 50px;
}

/* Collection */
.collection {
  margin-top: 20px;
  background-image: url("../images/collection-bg.jpg");
  background-size: 1360px 1739px;
  background-repeat: no-repeat;
  background-position: top center;
}

.collection-inner {
  padding-top: 50px;
  padding-bottom: 50px;
}

.collection-title {
  margin-top: 0;
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-transform: uppercase;
  text-align: center;
}

.collection-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.collection-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 1114px;
}

.collection-item:nth-child(even) {
  flex-direction: row-reverse;
}

.collection-item:nth-child(even) .collection-item-img {
  margin-left: 117px;
}

.collection-item:nth-child(odd) .collection-item-img {
  margin-right: 117px;
}

.collection-item:last-child .collection-item-img {
  margin-left: 97px;
}

.item-danche::before {
  position: absolute;
  top: -140px;
  left: -330px;
  width: 371px;
  height: 371px;
  content: "";
  background-image: url("../images/leaf-first.svg");
}

.item-espresso::after {
  position: absolute;
  top: 190px;
  right: -450px;
  width: 423px;
  height: 409px;
  content: "";
  background-image: url("../images/leaf-second.svg"),
    url("../images/leaf-second2.svg");
  background-repeat: no-repeat;
  background-position: right, bottom 60px right;
}

.item-planalto::before {
  position: absolute;
  top: -20px;
  right: 100%;
  width: 371px;
  height: 371px;
  content: "";
  background-image: url("../images/leaf-third.svg");
  background-repeat: no-repeat;
}

.collection-item-img {
  width: 450px;
  height: 375px;
}

.collection-item-info {
  width: 390px;
}

.info-danche {
  width: 453px;
}

.info-planalto {
  width: 410px;
}

.collection-item-info-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #333333;
}

.collection-item-info-text {
  margin: 0;
  font-size: 22px;
  line-height: 34px;
  color: #333333;
}

/* Feature */
.feature {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 290px;
  background-image: url("../images/feature-bgg.jpg");
}

.feature-inner {
  position: relative;
  padding-top: 50px;
  padding-bottom: 500px;
}

.feature-info {
  width: 581px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.feature-info-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  color: #ffffff;
}

.feature-info-text {
  margin: 0;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

.feature-list {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 283px;
  left: -20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.feature-item:not(:last-child) {
  margin-right: 20px;
}

.feature-item {
  position: relative;
  width: 433px;
}

.feature-item:first-child::before {
  position: absolute;
  top: -50px;
  left: -50px;
  display: inline-block;
  width: 140px;
  height: 144px;
  content: "";
  background-image: url("../images/but-first-coffee.png");
}

.feature-item-info {
  width: 377px;
}

.feature-item-img {
  margin-bottom: 28px;
}

.feature-item-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #333333;
  text-transform: uppercase;
}

.feature-item-text {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  color: #333333;
}

/* Work */
.work {
  background-image: url("../images/work-bg.jpg");
}

.work-container {
  padding-left: 0;
  padding-right: 0;
}

.work-inner {
  padding-top: 50px;
  padding-bottom: 50px;
}

.work-title {
  margin-top: 0;
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  color: #ffffff;
  text-align: center;
}

.rectangle-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 966px;
  margin-bottom: 20px;
  background-image: url("../images/line.png");
  background-repeat: no-repeat;
  background-position: center;
}

.rectangle {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #f8f8f2;
  border: 4px solid #c99b67;
}

.work-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
}

.work-list::before {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 228px;
  height: 192px;
  content: "";
  background-image: url("../images/coffee-first.svg");
  transform: translateY(-120%);
}

.work-item {
  width: 433px;
  padding: 20px 20px 40px;
  background-color: #f8f8f2;
}

.work-item-number {
  display: block;
  margin-bottom: 45px;
  text-align: right;
  font-size: 64px;
  line-height: 75px;
  color: #333333;
  opacity: 0.8;
}

.work-item-title {
  width: 245px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #333333;
  text-transform: uppercase;
}

.work-item-text {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  color: #333333;
}

.work-btn-wrapper {
  text-align: center;
}

.work-btn {
  background-color: #c99b67;
}

/* Footer */
.site-footer {
  margin-top: 50px;
  background-image: url("../images/hero-bg.jpg");
}

.site-footer-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 65px;
  padding-bottom: 65px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-item:not(:last-child) {
  margin-right: 30px;
}

.social-item-link {
  display: block;
  text-decoration: none;
}

.social-item-img {
  width: 30px;
  height: 30px;
}

/* About */
.intro {
  margin-bottom: 20px;
  background-image: url("../images/hero-bg.jpg");
  background-position: top center;
}

.into-inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.intro-info {
  margin-left: 100px;

  padding-top: 116px;
  width: 372px;
}

.intro-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
}

.intro-text {
  margin: 0;
}

.intro-img-wrapper {
  position: relative;
}

.intro-img-wrapper::before {
  position: absolute;
  z-index: 2;
  top: -15%;
  left: -5%;
  display: block;
  width: 214px;
  height: 214px;
  content: "";
  background-image: url("../images/alfred.png");
}

.intro-img {
  position: relative;
  left: 50px;
  width: 710px;
  height: 596px;
}

/* Committed */
.committed {
  margin-top: 20px;
  background-image: url("../images/commitment-bg.jpg");
  background-position: top center;
}

.committed-inner {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 160px;
  padding-bottom: 200px;
}

.committed-inner::before {
  position: absolute;
  top: 50px;
  left: -160px;
  display: block;
  width: 371px;
  height: 371px;
  content: "";
  background-image: url("../images/leaf-first.svg");
  background-size: 350px 371px;
  background-repeat: no-repeat;
}

.committed-img {
  margin-left: 135px;
  width: 360px;
  height: 364px;
}

.committed-info {
  margin-right: 35px;
  width: 626px;
}

.committed-info-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
}

.committed-info-text {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  color: #333333;
}

/* Quality */
.quality {
  margin-top: 160px;
  margin-bottom: 20px;
  background-image: url("../images/quality-bg.jpg");
  background-position: top center;
}

.quality-inner {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 118px;
}

.quality-info {
  margin-left: 80px;
  width: 639px;
}

.quality-info-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  font-variant: small-caps;
  color: #ffffff;
  text-transform: capitalize;
}

.quality-info-text {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.8;
}

.quality-img-wrapper {
  position: absolute;
  top: -80px;
  right: 0;
}

.quality-img {
  width: 550px;
  height: 500px;
}

/* Branch */
.branch {
  background-image: url("../images/branch-bg.jpg");
  background-position: top center;
}

.branch-inner {
  padding-top: 50px;
  padding-bottom: 100px;
}

.branch-title {
  margin-top: 0;
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.branch-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.branch-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 187px 20px 40px;
  width: 433px;
  background-color: #f8f8f2;
}

.branch-item::before {
  position: absolute;
  top: 45px;
  right: 55px;
  display: block;
  width: 120px;
  height: 143px;
  content: "";
  background-image: url("../images/uk.svg");
}

.item-canada::before {
  height: 120px;
  background-image: url("../images/canada.svg");
}

.item-australia::before {
  height: 107px;
  background-image: url("../images/austalia.svg");
}

.branch-item:not(:last-child) {
  margin-right: 20px;
}

.branch-item:first-child {
  padding-top: 140px;
}

.branch-item-title {
  margin-top: 0;
  margin-bottom: 10px;
  width: 231px;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  font-variant: small-caps;
  color: #333333;
}

.branch-item-info-lists {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.branch-item-info-list {
  font-size: 18px;
  line-height: 28px;
  color: #333333;
}

.branch-item-info-list-text {
  margin: 0;
}

.plan-work-list::before {
  display: none;
}

/* Order */
.order {
  position: relative;
  background-image: url("../images/collection-bg.jpg");
  background-position: top center;
}

.order::before {
  position: absolute;
  right: calc(50% + 600px);
  bottom: 25px;
  display: block;
  width: 371px;
  height: 371px;
  content: "";
  background-image: url("../images/leaf-first.svg");
}

.order::after {
  position: absolute;
  left: calc(50% + 600px);
  top: 300px;
  display: block;
  width: 371px;
  height: 371px;
  content: "";
  background-image: url("../images/leaf-second.svg");
}

.order-inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.order-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.order-item {
  margin-bottom: 29px;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  font-variant: small-caps;
  color: #555555;
  text-transform: uppercase;
}

.order-item-link {
  display: inline-block;
  padding-bottom: 5px;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dashed #f5f5fd;
}

.order-item-link:active {
  color: #000;
  border-bottom: 1px dashed #c99b67;
}

.order-choose {
  display: flex;
  flex-direction: column;
}

.question-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
  margin-bottom: 100px;
  padding: 0;
  list-style: none;
}

.question-item {
  width: 660px;
}

.question-item:not(:first-child) {
  margin-top: 60px;
}

.question-item-link {
  display: block;
  color: #000;
  text-decoration: none;
}

.question-item-title {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #000000;
}

.question-item-title:hover {
  cursor: pointer;
}

.ingrediend-list {
  display: none;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  transition: 0.8s ease;
}

.ingrediend-list-block {
  display: flex;
  transition: 0.8s ease;
}

.ingredient-item {
  padding: 30px 15px;
  width: 206px;
  height: 220px;
  background-color: #c4dacd;
}

.ingredient-item:hover {
  background-color: #0a775f;
}

.ingredient-item:hover .ingredient-item-title,
.ingredient-item:hover .ingredient-item-text {
  color: #fff;
}

.ingredient-item-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #333;
}

.ingredient-item-text {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
}

.order-summary {
  width: 660px;
  margin-bottom: 20px;
  padding: 40px 20px;
  background-color: #c99b67;
}

.order-summary-title {
  margin-top: 0;
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
}

.order-summary-text {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: #ffffff;
}

.form-input {
  display: inline-block;
  width: 70px;
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
}

.form-input:focus {
  outline: none;
}

.order-summary-link {
  display: inline-block;
  margin-left: auto;
  padding: 16px 24px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  color: #ffffff;
  text-decoration: none;
  background: #0a775f;
  border-radius: 100px;
}

/* Modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #00000080;
}

.modal-open {
  display: flex;
}

.modal-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 561px;
}

.modal-title {
  margin: 0;
  padding: 19px 30px;
  width: 100%;
  font-weight: 700;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  background-color: #c99b67;
  text-transform: uppercase;
}

.modal-text-wrapper {
  padding: 50px 30px;
  background-color: #f8f8f2;
}

.modal-text {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: #000000;
}

.green-word {
  color: #0a775f;
}

.text-modal-2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
  opacity: 0.8;
}

.modal-price-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.checkout-btn {
  padding: 16px 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 1px;
  color: #ffffff;
  border: none;
  background-color: #0a775f;
  border-radius: 100px;
}

.checkout-btn:hover {
  cursor: pointer;
}
